.ribua{
  width: 400px;
  height: 130px;
  background-color: rgb(120, 214, 226); 
  border-radius: 10px;
}
.BARAK{
  width: 100px;
  height: 100px;
  transition: 0.5s;
  animation: animate 4s linear infinite;
}
@keyframes animate
{
  0%
  {
    transform: rotate(0deg);
  }
  0%
  {
    transform: rotate(360deg);
  }
} 


.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(5, 5, 5);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url("./images/reka.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

